@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
    font-family: 'Poopins',sans-serif;
    
}

:root{
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color:#00abf0;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

.header{
background-color: transparent;
display: flex;
align-items: center;
justify-content: space-between;
padding: 2rem 9%;
width: 100%;
position: fixed;
top: 0;
left: 0;
z-index: 100;
transition: 0.4s;
}
.header.sticky{
    background-color: var(--bg-color);
}
.logo{
    font-size: 3.5rem;
    color: var(--text-color);
    font-weight: 700;
}
.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: 0.3s;
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    font-size: 2.2rem;
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {
   display: flex;
   align-items: center;
   padding: 0 9%;  
} 

.home-content{
max-width: 60rem;

}
.home-content h1{
    font-size: 5.6rem;
    position: relative;
    font-weight: 600;
} 

.home-content .text-animate{
        position: relative;
        
        width: 32.8rem;
}
.home-content .text-animate h3{
        font-size: 3.2rem;
        font-weight: 700;
        color: transparent;
        -webkit-text-stroke: .7px var(--main-color);
}
.home-content p{
    font-size: 2rem;
    margin: 2rem 0rem 4rem;
}

.btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    
    width: 345px;
    height: 50px;
}
.btn-box .btn{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: 8px;
    font-size: 1.8rem;
   font-weight: 600;
    text-decoration: none;
    color: var(--bg-color);
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}
.btn-box .btn:nth-child(2){
    background: transparent;
    color: var(--main-color);
}
.btn-box .btn:nth-child(2)::before{
    background: var(--main-color);
}
.btn-box .btn:nth-child(2):hover{
    color: var(--bg-color);
}
.btn-box .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: 0.5s;

    }
.btn-box .btn:hover{
    color: var(--main-color);
}
.btn-box .btn:hover::before{
    width: 100%;
}
.home-sci{
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;

}
.home-sci a{
position: relative;
display: inline-flex;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
background: transparent;
border: .2rem solid var(--main-color);
border-radius: 50%;
font-size: 20px;
color: var(--main-color);
z-index: 1;
overflow: hidden;

}

.home-sci a::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: var(--main-color);
        z-index: -1;
        transition: 0.5s;      
}
.home-sci a:hover{
    color: var(--bg-color);
}
.home-sci a:hover::before{
    width: 100%;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--second-bg-color);
    padding-bottom: 6rem;
}
.heading{
    font-size: 5.6rem;
    margin-bottom: 3rem;
    text-align: center;
    font-weight: 600;
}
.heading span{
    color: var(--main-color);
}
.about-content h3{
    font-size: 3.3rem;
}
.about-content p{
    font-size: 2.2rem;
    text-align: center;
    margin: 2rem 0 3rem;
}

.btn-box.read{
display: inline-block;
width: 15rem;
margin: 1rem 0;
}
.btn-box.read a::before{
    background: var(--second-bg-color);
}

.education{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: auto;
    padding: 5rem;
}

.education .education-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.education-row .education-coloumn{
    flex: 1 1 40rem;
}

.education-coloumn .title{
    font-size: 3rem;
    margin: 0 0 1.5rem 3rem;
}
.education-coloumn .education-box{
    border-left: 0.2rem solid var(--main-color);
}

.education-box .education-content{
    position: relative;
    padding-left: 2rem;
    z-index: 1;
    overflow: hidden;
}
.education-content .content{
    position: relative;
    padding: 1.5rem;
    border: 0.2rem  solid var(--main-color);
    border-radius: 0.6rem;
    margin-bottom: 2rem;
}

.education-content .content .year{
    color: var(--main-color);
    font-size: 1.7rem;
    padding-bottom: 1.1rem ;
}

.education-content .content .year i{
    padding-right: 0.7rem;
}

.education-content .content  h3{
    font-size: 2.5rem;
}
.education-content .content  p{
    font-size: 1.6rem;
}

.education-content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: 0.5s;
}
.education-content .content:hover{
    color: var(--bg-color);
}

.education-content .content:hover::before{
    width: 100%;
}

.skills{
    
    min-height: auto;
    background: var(--second-bg-color);
    padding: 5rem;
}
.skills .skills-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.skills .skills-coloumn{
    flex: 1 1 40rem;
}
.skills-coloumn .title{
    font-size: 3rem;
    margin: 0 0 1.5rem 3rem;
}
.skills-box{
    border: 0.2rem solid var(--main-color);
    border-radius: 1rem;
}
.skills-box .skills-content{
    position: relative;
    padding: 1.5rem 2.5rem;
    border-radius: 0.5rem;
    z-index: 1;
    overflow: hidden;
}

.skills-content .progress{
    padding: 1rem 0rem;
}

.skills-content .progress h3{
    font-size: 2.3rem;
    display: flex;
justify-content: space-between;
}
.skills-content .progress h3 span{
    color: var(--main-color);
}
.skills-content .progress .bar{
    height: 2.5rem;
    border: 0.4rem solid var(--main-color);
    border-radius: 1.3rem;
    padding: 0.5rem ;
    margin: 1rem 0;
}
.skills-content .progress .bar span{
    display: block;
    height: 100%;
    border-radius: 0.4rem;
    background: var(--main-color);
}

.skills-box .skills-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: 0.5s;
}
.skills-box .skills-content:hover{
    color: var(--main-color);
}

.skills-box .skills-content:hover::before{
    width: 100%;
}
.contact{
    min-height: auto;
    padding-bottom: 7rem;
}

.contact form{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;

}
.contact form .input-box{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact form .input-box .input-feild{
    position: relative;
    width: 49%;
    margin: 0.8rem 0;
}
.contact form .input-box .input-feild input,
.contact form .text-area textarea{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.5rem;
    color: var(--text-color);
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 0.6rem;
}



.contact form .text-area textarea{
    resize: none;
    height: 35rem;
}

.contact form .input-box .input-feild input::placeholder,
.contact form .text-area textarea::placeholder{
    color: var(--text-color);
}


.contact form  .focus{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:var(--second-bg-color);
    border-radius: 0.6rem;
    z-index: -1;
    transition: 0.5s;
}

.contact form .input-box .input-feild input:focus~.focus,
.contact form .input-box .input-feild input:valid~.focus,
.contact form .text-area textarea:focus~.focus,
.contact form .text-area textarea:valid~.focus
{
    width: 100%;
}

.contact form .text-area {
    position: relative;
    margin: 0.8rem 0 2.7rem;
    display: flex;
}
.contact form .btn-box.read .btn{
    cursor: pointer;
}


.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer .footer-text{
    font-size: 2.2rem;
}

.footer-icon-top a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
    
}
    
.footer-icon-top a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: 0.5s;      
    
}
.footer-icon-top a:hover::before{
    width: 100%;
}
.footer-icon-top a:hover i{
    color: var(--main-color);
}
.footer-icon-top a i{
    font-size: 3rem;
    color: var(--bg-color);
    
}