@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color:  rgb(34, 2, 59);
    color: white;
    font-family: 'Poopins',sans-serif;

}

nav{

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgba(68, 3, 172, 0.856);
}

nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
    
}
nav ul li a{
    text-decoration: none;
        color: rgb(255, 123, 0);
        font-size: 1.5rem;
}
nav ul li a:hover{
    color: lavender;
    font-size: 1.7rem;
}

.left{
    font-size: 2rem;
}
.firstsection{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.firstsection >div{
    width: 30%;
}
.rightsection img {
    width: 100%;
height: 85%;
}

.leftsection{

    background-size: cover;
    font-size: 3rem;
}
#element{
    color: blueviolet;
}
.btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    
    width: 345px;
    height: 50px;
}
.btn-box a{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 30px;
    color: #081b29  ;
   font-weight: 600;
    text-decoration: none;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}


.btn-box a:nth-child(2){
    background: transparent;
    color: cyan;
}
.btn-box a:nth-child(2) :hover{
    color: #081b29;
}
.btn-box a:nth-child(2)::before{
    background: gold;
}
.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: gold;
    z-index: -1;
    transition: 0.5s;

    }
.btn-box a:hover{
    color: black;
}
.btn-box a:hover::before{
    width: 100%;
}
 