.Purple{
    display: block;
    color: rgb(255, 196, 0);
}

.home{
    background: url('/images/home.jpg') no-repeat;
    background-size: contain;
    background-position: center;
}

.skills-coloumn:nth-child(1) .skills-content .progress:nth-child(1) .bar span{
    width: 95%;
}
.skills-coloumn:nth-child(1) .skills-content .progress:nth-child(2) .bar span{
    width: 5%;
}
.skills-coloumn:nth-child(1) .skills-content .progress:nth-child(3) .bar span{
    width: 80%;
}
.skills-coloumn:nth-child(1) .skills-content .progress:nth-child(4) .bar span{
    width: 60%;
}
.skills-coloumn:nth-child(1) .skills-content .progress:nth-child(5) .bar span{
    width: 20%;
}

.skills-coloumn:nth-child(2) .skills-content .progress:nth-child(1) .bar span{
    width: 15%;
}
.skills-coloumn:nth-child(2) .skills-content .progress:nth-child(2) .bar span{
    width: 60%;
}
.skills-coloumn:nth-child(2) .skills-content .progress:nth-child(3) .bar span{
    width: 5%;
}
.skills-coloumn:nth-child(2) .skills-content .progress:nth-child(4) .bar span{
    width: 50%;
}
.skills-coloumn:nth-child(2) .skills-content .progress:nth-child(5) .bar span{
    width: 66%;
}